extends ../includes/base

block append css

block content
  <!-- border-radius -->
  <div class="border-radius-xy box-rectangle-basic box-example"></div>
  <div class="border-radius-normal box-rectangle-basic box-example"></div>
  <div class="border-radius-round box-square-basic box-example"></div>
  <div class="border-radius-halfcircle box-half-basic box-example"></div>
  <div class="border-radius-quarter box-square-basic box-example"></div>

block append scripts

