extends ../includes/base

block append css

block content
	<!-- gradient -->
	<div class="linear-gradient-basic box-rectangle-basic box-example"></div>
	<div class="radial-gradient-basic box-rectangle-basic box-example"></div>
	<div class="linear-gradient-border-basic box-rectangle-basic box-example"></div>
	<div class="linear-gradient-multi box-rectangle-basic box-example"></div>

block append scripts

