extends ../includes/base

block append css

block content
  <!-- opacity -->
  <ul class="photo-list">
  <li class="photo-item"><a href="#"><img src="/img/night_taxi.jpg" alt="Taxi"></a></li>
  <li class="photo-item"><a href="#"><img src="/img/night_wheel.jpg" alt="Night wheel"></a></li>
  <li class="photo-item"><a href="#"><img src="/img/night.jpg" alt="Night City"></a></li>
  </ul>

block append scripts

