extends ../includes/base

block append css
  <link href="http://fonts.googleapis.com/css?family=Text+Me+One" rel="stylesheet">
  <link href="http://weloveiconfonts.com/api/?family=fontelico" rel="stylesheet">

block content
  <!-- web font -->
  <p class="font-text-me-one webfont-basic box-example">CSS3 Recipe</p>
  <p class="font-kaushan-script webfont-basic box-example">CSS3 Recipe</p>
  <p class="font-aclonica webfont-basic box-example">CSS3 Recipe</p>
  <p class="font-fontelico webfont-basic box-example">
  <span class="fontelico-emo-happy"></span>
  <span class="fontelico-emo-wink"></span>
  <span class="fontelico-emo-coffee"></span>
  </p>

block append scripts
  <script src="http://use.edgefonts.net/kaushan-script;aclonica.js"></script>
