extends ../includes/base

block content
	<table summary="2015年11月の出勤表" class="attendance nov2015">
	<caption>2015年11月 出勤表</caption>
	<thead>
	<tr>
	<th score="col">名前</th>
	<th score="col" class="sun">1 (Sun)</th>
	<th score="col">2 (Mon)</th>
	<th score="col">3 (Tue)</th>
	<th score="col">4 (Wed)</th>
	<th score="col">5 (Thu)</th>
	<th score="col">6 (Fri)</th>
	<th score="col" class="sat">7 (Sat)</th>
	<th score="col">出勤日数</th>
	</tr>
	</thead>
	<tbody>
	<tr>
	<th scope="row">佐藤</th>
	<td>●</td>
	<td>●</td>
	<td></td>
	<td>●</td>
	<td></td>
	<td>●</td>
	<td>●</td>
	<td></td>
	</tr>
	<tr>
	<th scope="row">落合</th>
	<td>●</td>
	<td></td>
	<td>●</td>
	<td></td>
	<td>●</td>
	<td>●</td>
	<td>●</td>
	<td></td>
	</tr>
	<tr>
	<th scope="row">河村</th>
	<td></td>
	<td>●</td>
	<td>●</td>
	<td>●</td>
	<td>●</td>
	<td>●</td>
	<td></td>
	<td></td>
	</tr>
	<tr>
	<th scope="row">鳥山</th>
	<td>●</td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td>●</td>
	<td></td>
	</tr>
	<tr>
	<th scope="row">山田</th>
	<td></td>
	<td>●</td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	</tr>
	</tbody>
	</table>

block append scripts

