extends ../includes/base

block append css

block content
	<div class="shape shape-square"></div>
	<div class="shape shape-circle"></div>
	<div class="shape shape-triangle-top"></div>
	<div class="shape shape-triangle-bottom-left"></div>
	<div class="shape shape-heart"></div>
	<div class="shape shape-diamond"></div>
	<div class="shape shape-star"></div>

block append scripts

