extends ../includes/base

block append css
	<link rel="stylesheet" href="http://weloveiconfonts.com/api/?family=fontawesome">

block content
	<hr class="line line1">
	<hr class="line line2">
	<hr class="line line3">
	<hr class="line line4">
	<hr class="line line5">
	<hr class="line line6">
	<hr class="line line7">
	<hr class="line line8">
	<hr class="line line9">

block append scripts
