extends ../includes/base

block append css

block content
	<h1 class="heading">好きな果物ランキング</h1>
	<ol class="list">
	<li class="item">
	<p class="thumbnail"><img src="//food.foto.ne.jp/free/resize.php?image=images/images_big/fd401083.jpg" class="picture" /></p>
	<p class="name">いちご</p>
	</li>
	<li class="item">
	<p class="thumbnail"><img src="//food.foto.ne.jp/free/resize.php?image=images/images_big/fd401107.jpg" class="picture" /></p>
	<p class="name">桃</p>
	</li>
	<li class="item">
	<p class="thumbnail"><img src="//food.foto.ne.jp/free/resize.php?image=images/images_big/fd400825.jpg" class="picture" /></p>
	<p class="name">メロン</p>
	</li>
	<li class="item">
	<p class="thumbnail"><img src="//food.foto.ne.jp/free/resize.php?image=images/images_big/fd401266.jpg" class="picture" /></p>
	<p class="name">みかん</p>
	</li>
	<li class="item">
	<p class="thumbnail"><img src="//food.foto.ne.jp/free/resize.php?image=images/images_big/fd400977.jpg" class="picture" /></p>
	<p class="name">りんご</p>
	</li>
	</ol>

block append scripts

