extends ../includes/base

block append css

block content
	<div class="note">
	<p class="paragraph">Cascading Style Sheets（<mark class="mark1">CSS</mark>、カスケーディング・スタイル・シート、カスケード・スタイル・シート）とは、<mark class="mark2">HTML や XML </mark>の要素をどのように修飾（表示）するかを指示する、<mark class="mark3">W3Cによる仕様</mark>の一つ。<mark class="mark4">文書の構造と体裁を分離させる</mark>という理念を実現する為に提唱されたスタイルシートの、具体的な仕様の一つ。</p>
	<p class="paragraph"><mark class="mark1">CSS</mark>は<mark class="mark2">HTML</mark>で表現可能と考えられるデザインの大部分を実現できる要素を取り入れつつ、新たなデザイン機能を備える。</p>
	<p class="paragraph">しかし、拡張・修正の続いている <mark class="mark5">CSS 仕様の全てを完全に実装しているユーザーエージェントは事実上皆無</mark>といってよく、実際シェアで多数を占めるユーザエージェントは部分対応にすぎない。ただし、<mark class="mark3">実用上支障のないレベルの実装はされてきており</mark>、なおかつ表現のお互いの互換性についても考慮されてきている。</p>
	</div>

block append scripts

