extends ../includes/base

block append css

block content
	<p class="text1 text">Welcome to my site</p>
	<p class="text2 text">Welcome to my site</p>
	<p class="text3 text">Welcome to my site</p>
	<p class="text4 text">Welcome to my site</p>
	<p class="text5 text">Welcome to my site</p>
	<p class="text6 text">Welcome to my site</p>
	<p class="text7 text">Welcome to my site</p>

block append scripts
	<script src="//use.edgefonts.net/aclonica;paytone-one.js"></script>
