extends ../includes/base

block append css
	<link href='//fonts.googleapis.com/css?family=Freckle+Face' rel='stylesheet' type='text/css'>
	<link href='//fonts.googleapis.com/css?family=Varela' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Quicksand:400,700' rel='stylesheet' type='text/css'>

block content
	<div class="box1 box"><p class="title">LEAGUE</p></div>
    
	<div class="box2 box"><p class="title">SUBJECT</p></div>
    
	<div class="box3 box"><p class="title">Secret</p></div>

	<div class="box4 box"><p class="title">Cloud</p></div>

	<div class="box5 box"><p class="title">fire!</p></div>
    
	<div class="box6 box"><p class="title">night</p></div>
    
	<div class="box7 box"><p class="title">Glowing</p></div>

block append scripts
	script(src="http://use.edgefonts.net/league-gothic;pt-sans-narrow;chango;gentium-basic;maven-pro.js")

