extends ../includes/base

block append css
	<!-- load fonts -->
	<link rel="stylesheet" href="http://weloveiconfonts.com/api/?family=fontawesome">

block content
	<div class="box">
	<p class="text">ISLAND IN THE SEA</p>
	</div>

	<div class="icons">
	<span class="fontawesome-heart"></span>
	<span class="fontawesome-star"></span>
	</div>

block append scripts
	<script src="//use.edgefonts.net/stencil-std.js"></script>
