extends ../includes/base

block append css

block content
	<div class="weather">
	<h1 class="weather-heading">今日の天気予報</h1>
	<ul>
	<li class="weather-contents weather-downpour-sun">
	<p class="weather-main multiple-ellipsis"><span class="multiple-ellipsis-text">現在、関東甲信地方は、甲信地方で晴れている所があるほかは、曇りや雨となっています。今日は、前線は次第に弱まる見込みですが、上空には寒気を伴った気圧の谷が残る見込みです。このため、関東甲信地方は曇りや雨となり、山沿いを中心に雷を伴う所があるでしょう。</span></p>
	<p class="more-link"><a href="#">続きを読む</a></p>
	</li>
	<li class="weather-contents weather-rain">
	<p class="weather-main multiple-ellipsis"><span class="multiple-ellipsis-text">北海道付近は、気圧の谷の中で、１２日にかけて上空に寒気が入るため、大気の状態が非常に不安定となるでしょう。曇り時々雨、石狩・後志地方は曇りで雨の降る所があり、雷を伴う見込みです。</span></p>
	<p class="more-link"><a href="#">続きを読む</a></p>
	</li>
	<li class="weather-contents weather-sun">
	<p class="weather-main multiple-ellipsis"><span class="multiple-ellipsis-text">福岡県は、高気圧に覆われて概ね晴れますが、強い日射の影響で、午後はにわか雨や雷を伴って激しい雨が降る所があるでしょう。福岡県では高温が予想されるため、熱中症などへの健康管理に注意が必要です。</span></p>
	<p class="more-link"><a href="#">続きを読む</a></p>
	</li>
	</ul>
	</div>

block append scripts

