extends ../includes/base

block append css

block content
	<div class="frame picture cover"><p class="caption">cover</p></div>
	<div class="frame picture contain"><p class="caption">contain</p></div>
	<div class="frame picture w100-h100"><p class="caption">100% 100%</p></div>
	<div class="frame picture w100-hauto"><p class="caption">100% auto</p></div>
	<div class="frame picture wauto-h100"><p class="caption">auto 100%</p></div>

	<div class="frame icon cover"><p class="caption">cover</p></div>
	<div class="frame icon contain"><p class="caption">contain</p></div>
	<div class="frame icon w100-h100"><p class="caption">100% 100%</p></div>
	<div class="frame icon w100-hauto"><p class="caption">100% auto</p></div>
	<div class="frame icon wauto-h100"><p class="caption">auto 100%</p></div>

block append scripts

