extends ../includes/base

block append css

block content
	<figure class="image">
	<figcaption class="caption">海辺 2013.8</figcaption>
	<img src="http://hara-css3.herokuapp.com/img/sea.jpg" class="photo" alt="海辺 2013.8">
	</figure>

block append scripts

