extends ../includes/base

block append css

block content
	<div class="image">
	<img src="http://hara-css3.herokuapp.com/img/dome.jpg" alt="東京ドーム" class="photo">
	<p class="description"><a href="#">東京ドーム（とうきょうドーム）は、日本初のドーム型野球場であり、愛称はBIG EGG（ビッグエッグ）。1988年（昭和63年）、東京都文京区後楽一丁目で開場。株式会社東京ドームが運営する東京ドームシティの中核施設である。プロ野球セントラル・リーグ・読売ジャイアンツ（巨人）が専用球場（本拠地球場）としている。</a></p>
	</div>

block append scripts

