extends ../includes/base

block append css
	link(rel="stylesheet", href="/css/image-filter-direct.css")

block content
	<ul>
	<li>
	<p>Original</p>
	<img src="http://hara-css3.herokuapp.com/img/animal.jpg" class="photo">
	</li>
	<li>
	<p>Gray Scale</p>
	<img src="http://hara-css3.herokuapp.com/img/animal.jpg" class="photo grayscale">
	</li>
	<li>
	<p>sepia</p>
	<img src="http://hara-css3.herokuapp.com/img/animal.jpg" class="photo sepia">
	</li>
	<li>
	<p>saturate</p>
	<img src="http://hara-css3.herokuapp.com/img/animal.jpg" class="photo saturate">
	</li>
	<li>
	<p>hue-rotate</p>
	<img src="http://hara-css3.herokuapp.com/img/animal.jpg" class="photo hue-rotate">
	</li>
	<li>
	<p>invert</p>
	<img src="http://hara-css3.herokuapp.com/img/animal.jpg" class="photo invert">
	</li>
	<li>
	<p>opacity</p>
	<img src="http://hara-css3.herokuapp.com/img/animal.jpg" class="photo opacity">
	</li>
	<li>
	<p>brightness</p>
	<img src="http://hara-css3.herokuapp.com/img/animal.jpg" class="photo brightness">
	</li>
	<li>
	<p>contrast</p>
	<img src="http://hara-css3.herokuapp.com/img/animal.jpg" class="photo contrast">
	</li>
	<li>
	<p>blur</p>
	<img src="http://hara-css3.herokuapp.com/img/animal.jpg" class="photo blur">
	</li>
	<li>
	<p>drop-shadow</p>
	<img src="http://hara-css3.herokuapp.com/img/animal.jpg" class="photo drop-shadow">
	</li>
	<li>
	<p>Edited</p>
	<img src="http://hara-css3.herokuapp.com/img/animal.jpg" class="photo edited">
	</li>
	</ul>

block append scripts

