extends ../includes/base

block append css
	<link rel="stylesheet" href="http://weloveiconfonts.com/api/?family=fontelico">

block content
	<ul class="emotions">
	<li class="emotions-item"><a href="#" class="fontelico-emo-happy"><span class="emotions-description">happy</span></a></li>
	<li class="emotions-item"><a href="#" class="fontelico-emo-wink"><span class="emotions-description">wink</span></a></li>
	<li class="emotions-item"><a href="#" class="fontelico-emo-sleep"><span class="emotions-description">sleep</span></a></li>
	<li class="emotions-item"><a href="#" class="fontelico-emo-displeased"><span class="emotions-description">displeased</span></a></li>
	<li class="emotions-item"><a href="#" class="fontelico-emo-beer"><span class="emotions-description">beer</span></a></li>
	</ul>

block append scripts
	<script src="//use.edgefonts.net/pt-sans-narrow.js"></script>
