extends ../includes/base

block append css
	<link href='http://fonts.googleapis.com/css?family=Stalinist+One' rel='stylesheet' type='text/css'>
	<link href='http://weloveiconfonts.com/api/?family=entypo' rel='stylesheet' type='text/css'>

block content    
	<div class="container">
	<ol class="count">
	<li class="count-item"></li>
	<li class="count-item"></li>
	<li class="count-item"></li>
	<li class="count-item"></li>
	<li class="count-item"></li>
	<li class="count-item"></li>
	<li class="count-item"></li>
	<li class="count-item"></li>
	<li class="count-item"></li>
	<li class="count-item"></li>
	</ol>
	<ul class="fireworks">
	<li class="fireworks-item entypo-light-down active"></li>
	<li class="fireworks-item entypo-light-down active"></li>
	<li class="fireworks-item entypo-light-down active"></li>
	</ul>
	</div>

block append scripts

