extends ../includes/base

block append css

block content
	<div id="contents">
	<input type="checkbox" class="openMenu">
	<nav class="menu">
	<ul>
	<li class="menu-item"><a href="#">Profile</a></li>
	<li class="menu-item"><a href="#">Information</a></li>
	<li class="menu-item"><a href="#">Settings</a></li>
	</ul>
	</nav>
	<div class="main">Contents</div>
	</div>

block append scripts

