extends ../includes/base

block append css

block content
	<ul class="list3d">
	<li class="list3d-item"><a href="#"><img src="/img/thumb_cafe1.jpg" alt="茶葉"></a></li>
	<li class="list3d-item"><a href="#"><img src="/img/thumb_cafe2.jpg" alt="ソファ"></a></li>
	<li class="list3d-item"><a href="#"><img src="/img/thumb_cafe3.jpg" alt="2つのカップ"></a></li>
	<li class="list3d-item"><a href="#"><img src="/img/thumb_cafe4.jpg" alt="コーヒー豆"></a></li>
	<li class="list3d-item"><a href="#"><img src="/img/thumb_cafe5.jpg" alt="カップに入ったコーヒー"></a></li>
	</ul>

block append scripts

