extends ../includes/base

block append css

block content
	<div class="chart">
	<div class="chart-item1 chart-frame">
	<div class="chart-item"></div>
	</div>

	<div class="chart-item2 chart-frame">
	<div class="chart-item"></div>
	</div>

	<div class="chart-item3 chart-frame">
	<div class="chart-item"></div>
	</div>
	</div>

block append scripts
	script(src="/js/examples/anime-chart-circle.js")
