extends ../includes/base

block append css

block content
	<div class="stage-dark">
	<ul class="bar-3d-graph graph">
	<li style="width: 42.7%;" class="bar-3d-graph-item"><span class="text">docomo</span></li>
	<li style="width: 26.6%;" class="bar-3d-graph-item"><span class="text">au</span></li>
	<li style="width: 23.1%;" class="bar-3d-graph-item"><span class="text">SBM</span></li>
	<li style="width: 7.6%;" class="bar-3d-graph-item"><span class="text">Others</span></li>
	</ul>
	</div>

block append scripts

