extends ../includes/base

block append css

block content
	<ul class="stacked-bar-graph graph">
	<li class="stacked-bar-item" style="width: 40%;">A (40%)</li>
	<li class="stacked-bar-item" style="width: 30%;">B (30%)</li>
	<li class="stacked-bar-item" style="width: 25%;">C (25%)</li>
	<li class="stacked-bar-item" style="width: 5%;">D (5%)</li>
	</ul>

block append scripts

