extends ../includes/base

block append css
	<link rel="stylesheet" href="http://weloveiconfonts.com/api/?family=fontawesome">

block content
	<div class="page"></div>
	<div class="overlay"><p class="overlay-contents fontawesome-th-large">げんきさんから友達の申請が来ています。</p></div>

block append scripts
	script(src="/js/examples/anime-ticker-modal.js")
