extends ../includes/base

block append css
	<link rel="stylesheet" href="http://weloveiconfonts.com/api/?family=fontawesome|entypo">

block content
	<ul class="musician">
	<li class="entypo-note musician-name icon-note"><a href="#">Mozart</a></li>
	<li class="entypo-note musician-name icon-note"><a href="#">Bach</a></li>
	<li class="entypo-note musician-name icon-note"><a href="#">Beethoven</a></li>
	<li class="entypo-note musician-name icon-note"><a href="#">Liszt</a></li>
	</ul>

block append scripts

