extends ../includes/base

block append css

block content
	<p class="music">
	<span class="icon-music">
	<span class="icon-music-bar"></span>
	<span class="icon-music-bar"></span>
	<span class="icon-music-bar"></span>
	</span>Video Killed The Radio Star
	</p>

block append scripts
