extends ../includes/base

block append css

block content
	<div class="loading-bar1 loading"></div>
	<div class="loading-bar2 loading"></div>

	<div class="loading-ball1 loading"></div>

	<ul class="loading-ball2 loading">
	<li class="item"></li>
	<li class="item"></li>
	<li class="item"></li>
	</ul>


	<div class="loading-circle1 loading"></div>

block append scripts

