extends ../includes/base

block append css
	<link rel="stylesheet" href="http://weloveiconfonts.com/api/?family=fontelico">

block content    
	<ul class="emotions">
	<li class="emotions-item"><a href="#" class="fontelico-emo-happy">happy</a></li>
	<li class="emotions-item"><a href="#" class="fontelico-emo-wink">wink</a></li>
	<li class="emotions-item"><a href="#" class="fontelico-emo-sleep">sleep</a></li>
	<li class="emotions-item"><a href="#" class="fontelico-emo-displeased">displeased</a></li>
	<li class="emotions-item"><a href="#" class="fontelico-emo-beer">beer</a></li>
	</ul>

block append scripts
	<script src="//use.edgefonts.net/pt-sans-narrow.js"></script>
