!!! 5
html
	head
		block title
			h1 #{number}
		link(rel="stylesheet", src="/css/main.css")
		link(rel="stylesheet", src="/css/#{number}.css")
		block css

	body
		div#main
			block content
		script(src="/js/lib/jquery-1.10.2.min.js")
		block script