extends ../includes/base

block content
	<ul class="breadcrumb">
	<li class="breadcrumb-item"><a href="#">Home</a></li>
	<li class="breadcrumb-item"><a href="#">Entertainment</a></li>
	<li class="breadcrumb-item"><a href="#">Movie</a></li>
	</ul>

block append scripts

