extends ../includes/base

block append css

block content
	<div>
	<button class="button-default button">default</button>
	<button class="button-primary button">primary</button>
	<button class="button-warning button">warning</button>
	</div>

	<div>
	<button class="button-default button" disabled>default</button>
	<button class="button-primary button" disabled>primary</button>
	<button class="button-warning button" disabled>warning</button>
	</div>


	<div>
	<button class="button-gradient-default button">default</button>
	<button class="button-gradient-primary button">primary</button>
	<button class="button-gradient-warning button">warning</button>
	</div>

	<div>
	<button class="button-gradient-default button" disabled>default</button>
	<button class="button-gradient-primary button" disabled>primary</button>
	<button class="button-gradient-warning button" disabled>warning</button>
	</div>

	<div>
	<button class="button-default button-max button">default</button>
	<button class="button-primary button-max button">primary</button>
	<button class="button-warning button-max button">warning</button>
	</div>

	<div>
	<button class="button-gradient-default button-square-middle button">default</button>
	<button class="button-gradient-primary button-square-middle button">primary</button>
	<button class="button-gradient-warning button-square-middle button">warning</button>
	</div>

block append scripts

