extends ../includes/base

block content
	<ul class="list">
	<li class="item">
	<p class="counter-circle">1</p>
	</li>
	<li class="item">
	<p class="counter-circle">21</p>
	</li>
	<li class="item">
	<p class="counter-circle">99+</p>
	</li>
	<li class="item"></li>

	<li class="item ovf-hidden">
	<p class="counter-triangle">1</p>
	</li>
	<li class="item ovf-hidden">
	<p class="counter-triangle">21</p>
	</li>
	<li class="item ovf-hidden">
	<p class="counter-triangle">99+</p>
	</li>
	<li class="item ovf-hidden"></li>
</ul>
