extends ../includes/base

block append css

block content
	<!-- box-shadow/text-shadow -->
	<div class="box-shadow-flow box-square-basic box-example"></div>
	<div class="box-shadow-inset box-square-basic box-example"></div>

	<div class="box-shadow-signal border-radius-round box-square-signal box-example"></div>

	<div class="text-shadow-basic text-default text-example">CSS3</div>
	<div class="text-shadow-candy text-candy text-example">CSS3</div>


block append scripts

