extends ../includes/base

block append css

block content
	<!-- load fonts -->
	<link rel="stylesheet" href="http://weloveiconfonts.com/api/?family=entypo">

	<!-- contents -->    
	<div class="box box1">
	<nav class="menu">
	<ul class="list">
	<li class="mention item"><a href="/#mention" class="entypo-comment">Mention</a></li>
	<li class="watch item"><a href="/#watch" class="entypo-eye">Watch</a></li>
	<li class="favs item"><a href="/#favs" class="entypo-star">Favs</a></li>
	<li class="likes item"><a href="/#likes" class="entypo-heart">Likes</a></li>
	<li class="info item"><a href="/#info" class="entypo-info">Info</a></li>
	<li class="settings item"><a href="/#settings" class="entypo-cog">Settings</a></li>
	</ul>
	</nav>
	</div>

block append scripts

