extends ../includes/base

block append css
	<!-- load font -->
	<link rel="stylesheet" href="http://weloveiconfonts.com/api/?family=fontawesome">

block content
	<ul class="list">
	<li class="list-wrap"><a href="#" class="list-link list-item list-arrow">
	<div class="list-image fontawesome-envelope"></div>
	<div class="list-main">Mail</div>
	</a></li>
	<li class="list-wrap"><a href="#" class="list-link list-item list-arrow">
	<div class="list-image fontawesome-picture"></div>
	<div class="list-main">Photo</div>
	</a></li>
	<li class="list-wrap"><a href="#" class="list-link list-item list-arrow">
	<div class="list-image fontawesome-camera"></div>
	<div class="list-main">Camera</div>
	</a></li>
	<li class="list-wrap"><a href="#" class="list-link list-item list-arrow">
	<div class="list-image fontawesome-music"></div>
	<div class="list-main">Music</div>
	</a></li>
	<li class="list-wrap"><a href="#" class="list-link list-item list-arrow">
	<div class="list-image fontawesome-download-alt"></div>
	<div class="list-main">Downloaded</div>
	</a></li>
	</ul>

block append scripts
	script(src="/js/examples/hover.js")

