extends ../includes/base

block append css

block content
	<p class="photo example"><img src="http://hara-css3.herokuapp.com/img/flower.jpg" alt="花のアップ写真"></p>
	<p class="frame"><img src="http://hara-css3.herokuapp.com/img/flower.jpg" alt="花のアップ写真"></p>

block append scripts

