extends ../includes/base

block append css

block content
	<ul class="album">
	<li class="album-item"><a href="#"><img src="http://hara-css3.herokuapp.com/img/city2.jpg" alt="街" class="album-photo"></a></li>
	<li class="album-item"><a href="#"><img src="http://hara-css3.herokuapp.com/img/city.jpg" alt="街" class="album-photo"></a></li>
	<li class="album-item"><a href="#"><img src="http://hara-css3.herokuapp.com/img/seaside.jpg" alt="海辺" class="album-photo"></a></li>
	<li class="album-item"><a href="#"><img src="http://hara-css3.herokuapp.com/img/night.jpg" alt="夜景" class="album-photo"></a></li>
	<li class="album-item"><a href="#"><img src="http://hara-css3.herokuapp.com/img/canal.jpg" alt="運河" class="album-photo"></a></li>
	<li class="album-item"><a href="#"><img src="http://hara-css3.herokuapp.com/img/house.jpg" alt="家" class="album-photo"></a></li>
	</ul>

block append scripts

