extends ../includes/base

block append css

block content
	<p class="frame"><img src="http://hara-css3.herokuapp.com/img/ship.jpg" alt="待機中の船の写真"></p>
	<p class="frame frame1"><img src="http://hara-css3.herokuapp.com/img/ship.jpg" alt="待機中の船の写真"></p>
	<p class="frame frame2"><img src="http://hara-css3.herokuapp.com/img/ship.jpg" alt="待機中の船の写真"></p>

block append scripts

