extends ../includes/base

block append css

block content
	<h1 class="heading">Edited</h1>
	<form action="#" method="post">
	<p class="input-field-text"><input type="text" placeholder="What's up?" class="input-text"></p>
	<p class="input-field-text"><input type="text" size="50" placeholder="What's up?" class="input-text"></p>
	</form>

	<h1 class="heading">Default</h1>
	<form action="#" method="post">
	<p class="input-field-text"><input type="text" placeholder="What's up?">
	<p class="input-field-text"><input type="text" size="50" placeholder="What's up?"></p>
	</form>

block append scripts

