extends ../includes/base

block content
	<ul class="pagination">
	<li class="pagination-item-prev"><a href="#">Previous</a></li>
	<li class="pagination-item"><a href="#">1</a></li>
	<li class="pagination-item selected"><a href="#">2</a></li>
	<li class="pagination-item"><a href="#">3</a></li>
	<li class="pagination-item"><a href="#">4</a></li>
	<li class="pagination-item-continue">...</li>
	<li class="pagination-item"><a href="#">20</a></li>
	<li class="pagination-item"><a href="#">21</a></li>
	<li class="pagination-item-next"><a href="#">Next</a></li>
	</ul>

block append scripts
	<!-- load font -->
	<script src="//use.edgefonts.net/poiret-one.js"></script>