extends ../includes/base

block content
	<div id="contents">

	<input type="radio" name="tab" value="0" title="おすすめ順" checked>
	<input type="radio" name="tab" value="1" title="トップ">
	<input type="radio" name="tab" value="2" title="新着順">

	<div id="main1" class="main">
	<ul class="list">
	<li class="item"><a href="#">
	<img src="img/icon_facepug.png" alt="icon Facepug" class="item-thumbnail">
	<p class="item-title">Facepug</p>
	<p class="item-description">Social Pug Networking</p>
	</a></li>
	<li class="item"><a href="#">
	<img src="img/icon_pine.png" alt="icon PINE" class="item-thumbnail">
	<p class="item-title">PINE</p>
	<p class="item-description">Let's talk with your friends!</p>
	</a></li>
	<li class="item"><a href="#">
	<img src="img/icon_youcube.png" alt="icon YouCube" class="item-thumbnail">
	<p class="item-title">YouCube</p>
	<p class="item-description">Share home videos</p>
	</a></li>
	</ul>
	</div>

	<div id="main2" class="main">
	<ul class="list">
	<li class="item"><a href="#">
	<img src="img/icon_youcube.png" alt="icon YouCube" class="item-thumbnail">
	<p class="item-title">YouCube</p>
	<p class="item-description">Share home videos</p>
	</a></li>
	<li class="item"><a href="#">
	<img src="img/icon_facepug.png" alt="icon Facepug" class="item-thumbnail">
	<p class="item-title">Facepug</p>
	<p class="item-description">Social Pug Networking</p>
	</a></li>
	<li class="item"><a href="#">
	<img src="img/icon_pine.png" alt="icon PINE" class="item-thumbnail">
	<p class="item-title">PINE</p>
	<p class="item-description">Let's talk with your friends!</p>
	</a></li>
	</ul>
	</div>          

	<div id="main3" class="main">
	<ul class="list">
	<li class="item"><a href="#">
	<img src="img/icon_pine.png" alt="icon PINE" class="item-thumbnail">
	<p class="item-title">PINE</p>
	<p class="item-description">Let's talk with your friends!</p>
	</a></li>
	<li class="item"><a href="#">
	<img src="img/icon_youcube.png" alt="icon YouCube" class="item-thumbnail">
	<p class="item-title">YouCube</p>
	<p class="item-description">Share home videos</p>
	</a></li>
	<li class="item"><a href="#">
	<img src="img/icon_facepug.png" alt="icon Facepug" class="item-thumbnail">
	<p class="item-title">Facepug</p>
	<p class="item-description">Social Pug Networking</p>
	</a></li>
	</ul>
	</div>

	</div>

block append scripts

