@import 'includes/examples'

/* box styles */
.box-example {
    margin: 10px 20px;
}

/* flexbox */
.flexbox {
    border: 2px solid #6cf;
    border-radius: 2px;
    flexbox()
    font-family: sans-serif;
}

.flexbox-item {
    background: #6cf;
    border-radius: 2px;
    color: #fff;
    height: 2em;
    line-height: 2;
    margin: .5em;
    text-align: center;
    width: 2em;
}

.flexbox {
    flexbox()
}

.flexbox-inline {
    vendorVal(display, inline-box);
}

.flex-1 {
    vendor2(box-flex, 1)
}

.flex-2 {
    vendor2(box-flex, 2)
}

.flexbox-pack-center {
    vendor2(box-pack, center)
}

.flexbox-pack-end {
    vendor2(box-pack, end)
}

.flexbox-pack-justify {
    vendor2(box-pack, justify)
}

.flexbox-orient-vertical {
    vendor2(box-orient, vertical)
}

.flexbox-direction-reverse {
    vendor2(box-direction, reverse)
}

.ordinal-group-1 {
    vendor2(box-ordinal-group, 1)
}

.ordinal-group-2 {
    vendor2(box-ordinal-group, 2)
}

.ordinal-group-3 {
    vendor2(box-ordinal-group, 3)
}

.ordinal-group-4 {
    vendor2(box-ordinal-group, 4)
}
