@import 'includes/examples'

/* Common style */
.layer,
.layer .bg {
    height: 600px;
    left: 0;
    position: absolute;
    top: 0;
    width: 800px;
}

/* layer */
.layer {
    opacity: .3;
}

.layer:first-child .bg {
    background: url(/img/bg_flower2.jpg);
}

.layer:nth-child(2) .bg {
    background: url(/img/bg_flower.jpg);
}

/* front layer */
.layer:last-child {
    background-color: rgba(255, 255, 255, .2);
    opacity: 1;
}

.layer:last-child .bg {
    opacity: .3;
}
