@import 'includes/examples'

.ticker {
    background: #333;
    overflow: hidden;
    padding: 4px 0;
}

.ticker-text {
    animation-name: ticker;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 10s;
    color: #ff0;
    display: inline-block;
    font-size: .8em;
    padding: 0 0 0 100%;
    white-space: nowrap;
}

/* animation */
@keyframes ticker {
  from   { transform: translate(0); }
  to { transform: translate(-150%); }
}
