@import 'includes/examples'

/* common settings */
html,
body {
    height: 100%;
    width: 100%;
}

/* display full screen */
.page {
    background: rgba(102,204,255,.6);
    height: 100%;
    overflow: hidden;
    position: absolute;
    width: 100%;
}

/* overlay styles */
.overlay {
    left: 0;
    position: absolute;
    top: -100%;
    transition: top 2s;
    width: 100%;
}

/* when the action is starting */
.overlay.action {
    top: -1px;
}

/* contents in overlay */
.overlay-contents {
    background: #fff;
    border: 2px solid #6cf;
    border-radius: 0 0 4px 4px;
    border-top-color: #fff;
    box-shadow:
        2px 2px 0 #fff,
        2px -2px 0 #fff,
        -2px 2px 0 #fff,
        -2px -2px 0 #fff;
    box-sizing: border-box;
    color: #666;
    font-family: sans-serif;
    font-size: .8em;
    margin: 0 auto;
    padding: .5em;
    width: 80%;
}

/* insert icon */
.overlay-contents::before {
    animation-name: flicker;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 3s;
    color: #6cf;
    font-family: 'FontAwesome', sans-serif;
    margin: 0 .5em 0 0;
}


/* animation */
@keyframes flicker {
    from { opacity: 0; }
    50%,to { opacity: 1; }
}
