@import 'includes/examples'

/* check list */
.checklist {
    background-color: #9f3;
    background-image: -webkit-linear-gradient(#9f3 60%, #9f9);
    color: #fff;
    font-family: sans-serif;
    padding: 1em;
    position: relative;
}

/* counter */
.counter {
    color: #151515;
    counter-reset: counter total;
    padding: 3em 0;
}

/* counter item, count total */
.counter-item {
    background: rgba(102,255,51,.6);
    counter-increment: total;
    height: 3em;
    line-height: 3;
    overflow: hidden;
    padding: 0 .5em;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.counter-item:nth-child(2n) {
    background: rgba(153,255,102,.6);
}

.counter-select {
    margin: 0 .5em 0 0;
}

/* count selected items */
.counter-select:checked {
    counter-increment: counter;
}

/* show counter */
.counter-item:last-child .counter-select::before,
.counter-item:last-child .counter-select::after {
    color: #fff;
    display: block;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2em;
    line-height: 2em;
    position: fixed;
    top: 0;
    width: 2em;
}

.counter-item:last-child .counter-select::after {
    content: "/ " counter(total);
    right: .5em;
    text-align: right;
}

.counter-item:last-child .counter-select::before {
    content: counter(counter);
    right: 1.4em;
    text-align: center;
}

