!!! 5
html
	head
		meta(name="viewport",content="width=device-width")
		title CSS3 Recipe Book
		link(rel="stylesheet", href="/css/main.css")
		link(rel="stylesheet", href="/css/index.css")

	body
		div#main
			ul.contents-list
				each name in names
					li.contents-item
						a(href="/examples/#{name}") #{name}
